<!DOCTYPE html>
<html>
<head>
    <title>E-Learning Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">E-Learning Portal</a>
        <ul class="navbar-nav ml-auto">
            {% if session['user_id'] %}
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container mt-5">
        <h1>Welcome to the E-Learning Portal</h1>
        
        {% if session['role'] == 'student' %}
            <p>You are logged in as a student.</p>
            <a href="/student/dashboard" class="btn btn-primary">Go to Dashboard</a>
        {% elif session['role'] == 'instructor' %}
            <p>You are logged in as an instructor.</p>
            <a href="/instructor/dashboard" class="btn btn-success">Go to Dashboard</a>
        {% else %}
            <p>Please login or register !</p>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


